.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_left {
    display: flex;
    flex-direction: column;
}

.game_nav {
    width: 100px;
    height: auto;
}

.bottom {
    display: flex;
    flex-direction: column;
}

#garden {
    height: 250px;
    max-width: 1000px;
    background-color: rgb(240, 212, 176);
}