.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_left {
    display: flex;
    flex-direction: column;
}

.game_nav {
    width: 100px;
    height: auto;
}

.bottom {
    display: flex;
    flex-direction: column;
}

#garden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 550px;
    max-width: 1000px;
    background-color: rgb(240, 212, 176);
}

.plants {
    height: 64px;
    width: 64px;
}

.weeds {
    height: 64px;
    width: 64px;
}

.newWeed {
    height: 64px;
    width: 64px;
}

#watering {
    background-image: url("images/watering_can.jpeg");
    background-size: cover;
    border-radius: 25%;
    height: 100px;
    width: 100px;
    text-align: center;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
/* 
@keyframes watering_plants{
    0% {

    }

    50% {

    
    }

    100% {

    }
} */

#weeding {
    background-image: url("images/garden_spade.jpeg");
    background-size: 55%;
    border-radius: 25%;
    height: 100px;
    width: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;  
    background-color: white;
}

#feeding {
    background-image: url("images/plant_food.jpeg");
    background-size: cover;
    border-radius: 25%;
    height: 100px;
    width: 100px;
    text-align: center;
}

.planting {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

#plant1 {
    background-image: url("images/flower_1.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
}


#plant2 {
    background-image: url("images/flower_2.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
}

#plant2:disabled {
    opacity: 0.2;
}

#plant3 {
    background-image: url("images/flower_3.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
}

#plant3:disabled {
    opacity: 0.2;
}

#plant4 {
    background-image: url("images/flower_4.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
}

#plant4:disabled {
    opacity: 0.2;
}

p {
  font-size: 12px; 
  text-align: center;
}

#plant_status {
    height: 30px;
    width: 50px; 
    border: 0.5px solid gray
}

