.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    max-width: 1000px;
}

.mask {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top_left {
    display: flex;
    flex-direction: column;
}

.game_nav {
    display: flex;
    flex-direction: row;
}

.sub_game_nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.bottom {
    display: flex;
    flex-direction: column;
}

#garden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(240, 212, 176);
    max-width: 1000px;
    position: absolute;
}

.plants {
    height: 64px;
    width: 64px;
}

.newWeed {
    height: 64px;
    width: 64px;
}

#watering {
    background-image: url("images/watering_can.jpeg");
    background-size: cover;
    border-radius: 25%;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

#weeding {
    background-image: url("images/garden_spade.jpeg");
    background-size: 55%;
    border-radius: 25%;
    height: 100px;
    width: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;  
    background-color: white;
    cursor: pointer;
}

#feeding {
    background-image: url("images/plant_food.jpeg");
    background-size: cover;
    border-radius: 25%;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.planting {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.planting_column {
    display: flex;
    flex-direction: column;
}

#plant1 {
    background-image: url("images/flower_1.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
    cursor: pointer;
}


#plant2 {
    background-image: url("images/flower_2.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
    cursor: pointer;
}

#plant2:disabled {
    opacity: 0.2;
}

#plant3 {
    background-image: url("images/flower_3.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
    cursor: pointer;
}

#plant3:disabled {
    opacity: 0.2;
}

#plant4 {
    background-image: url("images/flower_4.png");
    border-radius: 25%;
    height: 50px;
    width: 50px;
    background-color: white;
    background-size: contain;
    cursor: pointer;
}

#plant4:disabled {
    opacity: 0.2;
}

p {
  font-size: 12px; 
  text-align: center;
}

.emptyDiv {
    height: 64px;
    width: 64px;
}

